@import './src/app/common-styles/variable';

.exm-btn {
    background-color: $dark-primary;
    font-size: 18px;
    color: #fff;
    text-transform: $upper-cse;
    border-radius: 0px;
    i {
        font-size: 14px;;
    }
}
.menu {
    .mat-button {
    color: #0A2468;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    }
}