  <h2>Request your Coueses</h2>
  <div class="row">
    <div class="col-3"><p class="listinfo"><span>Package:</span></p>  </div>
    <div class="col-9"> <h3 class="listinfo"><strong>{{data.courseName}}</strong> </h3></div>
  </div>
    <div class="row">
      <div class="col-3"><p class="listinfo"><span>Module:</span></p>  </div>
      <div class="col-9"><p class="listinfo"> <div *ngFor="let m of data.module">
        <strong>{{m}}</strong>
      </div>  </div>
    </div>
  
    <div class="row">
      <div class="col-3"><p class="listinfo"><span>Info:</span></p>  </div>
      <div class="col-9"> <h3 class="listinfo"><strong>{{data.description}}</strong> </h3></div>
    </div>
    <div class="row">
      <div class="col-3"><p class="listinfo"><span>Duration:</span></p>  </div>
      <div class="col-9"> <h3 class="listinfo"><strong>{{data.duration}}</strong> </h3></div>
    </div>
    <div class="row">
      <div class="col-3"><p class="listinfo"><span>Price:</span></p>  </div>
      <div class="col-9"> <h3 class="listinfo"><strong>{{data.price}}</strong> </h3></div>
    </div>
    <div class="alert alert-primary" role="alert">
     Please request us to know more.
    </div>
  <div class="buttonblock">
    <button class="btn btn-light" (click)="onNoClick()">Cancel</button>
    <!-- <button class="btn btn-primary" type="button" (click)="Submit()">Request Now</button>   -->
    <a class="btn btn-primary" type="button"  href="/#/contactus" routerLinkActive="true">Request Now</a> 
  </div>
