  <h2>Request your Coueses</h2>
  <div class="row">
    <div class="col-3"><p class="listinfo"><span>Package:</span></p>  </div>
    <div class="col-9"> <h3 class="listinfo"><strong>{{data.courseName}}</strong> </h3></div>
  </div>
    <!-- <div class="row">
      <div class="col-3"><p class="listinfo"><span>Module:</span></p>  </div>
      <div class="col-9"><p class="listinfo"> 
        <div *ngFor="let m of data.module">
          <strong>{{m.name}}</strong>
          <strong>{{m.description}}</strong>
      </div>  
    </div>
    </div> -->
  
    <!-- <div class="row">
      <div class="col-3"><p class="listinfo"><span>Info:</span></p>  </div>
      <div class="col-9"> <h3 class="listinfo"><strong>{{data.description}}</strong> </h3></div>
    </div> -->
    <div class="row">
      <div class="col-3"><p class="listinfo"><span>Duration:</span></p>  </div>
      <div class="col-9"> <h3 class="listinfo"><strong>{{data.duration}}</strong> </h3></div>
    </div>
    <div class="row">
      <div class="col-3"><p class="listinfo"><span>Retail Price:</span></p>  </div>
      <div class="col-9"> <h3 class="listinfo"><strong>{{data.retailPrice}}</strong> </h3></div>
    </div>
    <div class="row">
      <div class="col-3"><p class="listinfo"><span>Selling Price:</span></p>  </div>
      <div class="col-9"> <h3 class="listinfo"><strong>{{data.sellingPrice}}</strong> </h3></div>
    </div>
    <div>
      <img _ngcontent-wkc-c218="" src="/assets/QR_Code.png" style="margin-left:20%" height="200" width="200" alt="man" class="img-fluid">
    </div>
    <br>
    <form [formGroup]="paymentForm" (ngSubmit)="SavePayment(paymentForm)"> 
      <mat-form-field appearance="outline"  class="mr-3 width100">                    
        <mat-label>Transaction Id:</mat-label>
        <input matInput placeholder="TransactionId" formControlName="TransactionId">      
      </mat-form-field>        
      <span style="color:red">{{message}}</span>  
      <button [disabled]="!data.sellingPrice || data.sellingPrice <= 0" class="btn btn-primary"  type="submit">Submit</button>
      <button class="btn btn-light" (click)="onNoClick()">Cancel</button>
    </form>  
