@import './src/app/common-styles/variable';

.form-group {
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    .form-control {
      padding-left: 40px;
    }
  .input-icons {
    position: absolute;
    z-index: 999;
    left: 15px;
    top: 11px;
    font-size: 16px;
    color: #a6b0bd;
  }
}

.loginLayout{
  display: flex;
}
.loginForm{
  padding: 30px;
}
.rightBox{
  padding: 40px;
  .para {
    font-size: 16px;
    font-weight: $font-weight-7;
  }
}
  
  

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  .logIn {
    background-color: #fff;
    height: 100%;
    position: relative;
    &:after {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    &:before {
      content: "";
      width: 50%;
      background: #f2f2f2;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .loginForm{
    .para {
      font-weight: $font-weight-7;
    }
    .social {
      display: flex;
      align-items: center;
      ul {        
        display: flex;
        list-style: none;    
        margin: 0px;  
        padding-left: 25px; 
      li {        
        a {
          display: flex;
          margin-right: 10px;
          background-color: #020072;
          color: #fff;
          width: 30px;
          height: 30px;
          text-align: center;
          vertical-align: middle;
          border-radius: 100%;
          line-height: 25px;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.5);
          }
        }
      }
      }
     
    }
  }