


<section class="logIn">
  <div class="container">


    
      <div fxLayout="row" class="loginLayout">
         
          <div fxFlex=60 class="rightBox">
            
              <div fxLayout="column" fxLayoutAlign="center center">
                  <h2 class="sub-heading">Learn From <span>Anywhere</span></h2>
                  <p>Technology is bring a massive wave of evolution on learning things on different ways.</p>
                  <a href="#">
                      <img src="\assets\login.PNG" alt="logo" >
                    </a>
              </div>

          </div>
          <div fxFlex=40 class="loginForm">
            <div fxLayout="column">
                <a href="#" class="tex-center">
                    <img src="/assets/logo.png" alt="logo" >
                </a>
               
                <form [formGroup]="loginForm" (ngSubmit)="validateUser(loginForm)">
                  <div class="container">
                    <div class="form-group">
                      <label for="userId"><b>Username</b></label>
                      <input type="text" formControlName="userId" class="form-control" placeholder="Enter UserId" formControlName="userId" required>
                      <small class="form-text text-muted" 
                        *ngIf="loginForm.controls.userId.touched && loginForm.controls.userId.errors?.required">
                          Please enter userid !
                      </small>
                      <small class="form-text text-muted"
                        *ngIf="loginForm.controls.userId.touched && loginForm.controls.userId.errors?.email">
                          Email address not valid !
                      </small>
                      <br>
                      <label for="password"><b>Password</b></label>
                      <input type="password" formControlName="password" class="form-control" placeholder="Enter Password"  formControlName="password" required>
                  
                      <button type="submit">Login</button>  
                    </div>                        
                  </div>    
              </form>
            
            </div>
        </div>
      </div>

  </div>
</section>