<div class="inner-banner">
    <div class="container">
        <h2 class="header1">Events</h2>        
    </div>
  </div>  
  <section class="featuredpage  content">  
    <div *ngIf="eventData" class="container">        
        <img src="/assets/images/event/{{eventData.path != '' ? eventData.path : 'defaultEvent'}}.jpg" alt="man" class="img-fluid">
       <div class="event-dtls"> <p>Event Name: {{eventData.name}}</p> <p>Date: {{eventData.eventDate | date: 'dd-MMM-yyyy'}}</p>   
       </div><p>Description: <span [innerHTML]="eventData.description"></span></p>

       <a [href]="eventData.discount_type" mat-raised-button color="primary"  target="_blank">Know More</a>
          
    </div>
  </section>