<div class="inner-banner">
  <div class="container">
      <h2 class="header1">DisRefunds and Cancellation</h2>
      
  </div>
  
</div>
<div class="container pt-3">

    <p><strong>W</strong>e thank you and appreciate your purchase with us. Please read the policy, conditions and process carefully as they will give you important information and guidelines about your rights and obligations as our customer, concerning any purchase you make through us. The policy concerning the processing of the refund, shall be following the clauses as set forth:</p>    
    
    <h2>1.	PROCESSING OF REFUND</h2>
    <p>The Company does not provide refunds to the User’s on general terms but the Company can choose to give refunds on extraordinary terms at the sole discretion of the Company on a case by case basis.</p>

    <h2>2.	CANCELLATION</h2>
    <p>As a User, you do not have the right to cancel your request for service upon availing services from the Platform. The Platform shall not cancel your request for services on general grounds but on extraordinary basis the Platform may cancel your request at the sole discretion of the Company. The Platform at its discretion can choose the penalty charges according to the service availed through the platform.</p>
    <p>The Company at its sole discretion may cancel any registration: </p>
    <p>a.	if it suspects a User has undertaken a fraudulent transaction, or </p>
    <p>b.	if it suspects a User has undertaken a transaction which is not following the Terms of Use, or</p>    
    <p>c.	If it suspects a User has posted defamatory statements on the Platform</p>
    <p>d.	if the Company does not want to do business with the User</p>
    <p>Further, while all measures are taken to ensure accuracy of service specifications and pricing, the details of the product as reflected on the platform may be inaccurate due to technical issues, typographical errors or incorrect service information provided to the Company by the Interviewer and in such an event you shall be notified as soon as such error comes to the notice of the Company.</p>    
    <p>We maintain a negative list of all fraudulent transactions and non-complying users and reserve the right to deny access to such users at any time or cancel any Bookings placed by them in future.</p>
  </div>
<br>