<div class="container">

<mat-tab-group mat-align-tabs="start" backgroundColor="primary" animationDuration="0ms">
  
    <mat-tab label="Profile">
      
      <div class="container p-0 pt-3 pb-3">
      <div *ngIf="accountData" class="row">
        <div class="col-2">
          <div class="frofileimage">
            <img src="../../../../../../assets/sample-profile.png">
          </div>
          <h3 class="userName">{{accountData.firstName}} {{accountData.lastName}}</h3>
        </div>
        <div class="col-8 pofileDetails">
          <div class="row">
            <div class="col-6">
              <h4>Email : {{accountData.eMail}}</h4>
            </div>
            <div class="col-6">
              <h4>Contact : {{accountData.mobile}}</h4>
            </div>
            <div class="col-6">
              <h4>State : {{accountData.state}}</h4>
            </div>
            <div class="col-6">
              <h4>Qualification : {{accountData.qualification}}</h4>
            </div>
          </div>
        </div>
      </div>
      <table *ngIf="dataSource" style="width: 100%" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="Package">
          <th mat-header-cell *matHeaderCellDef> Package </th>
          <td mat-cell *matCellDef="let element"> {{element.package}} </td>
        </ng-container>        
        <ng-container matColumnDef="Date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.created_date | date: 'dd-MMM-yyyy HH:mm:ss'}} </td>
        </ng-container> 
        <ng-container matColumnDef="Price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container> 
        <ng-container matColumnDef="TransactionId">
          <th mat-header-cell *matHeaderCellDef> TransactionId </th>
          <td mat-cell *matCellDef="let element"> {{element.transaction_id}} </td>
        </ng-container>        
        <ng-container matColumnDef="Status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td [ngClass]="getClass(element.status)" mat-cell *matCellDef="let element">{{getStatus(element.status)}}</td>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" [disabled]="element.status != 22" type="button" (click)="GetCourse(element)">Visit</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]"
                    showFirstLastButtons>
    </mat-paginator>
    </div>
    </mat-tab>
    <!-- <mat-tab label="Reset Password">Reset password</mat-tab> -->
  </mat-tab-group>


</div>