<form [formGroup]="resetForm" (ngSubmit)="Submit(resetForm)">
    <div class="row">
      <div class="col-4">
          <input placeholder="Email" formControlName="email" [(ngModel)]="resetData.email">            
      </div> 
      <!-- <div class="col-4">            
            <input type="password" placeholder="Password" formControlName="password" [(ngModel)]="resetData.password">          
      </div>
      <div class="col-4">            
            <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" [(ngModel)]="resetData.confirmPassword">          
      </div> -->
      <div class="col-12">    
        <button mat-raised-button color="primary" type="submit">Submit</button> &nbsp;
        <button mat-raised-button color="primary" type="button" (click)="ResetForm()">Reset</button>      
      </div>
    </div>
</form>