<div class="container">
    <div class="feature-box">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 item">
            <div class="card">
              <img src="/assets/engineering.svg" alt="banking">
              <div class="card-body">
                  <p>Data Science </p>
                  <h4>Data Science Foundation-Recorded </h4>
                  <div class="price"> <span>4 Weeks</span> <span>Rs 1000</span></div>
              </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 item">
            <div class="card">
              <img src="/assets/engineering.svg" alt="banking">
              <div class="card-body">
                <p>Data Science </p>
                <h4>Data Science Foundation-Offline </h4>
                <div class="price"> <span>5 Weeks</span> <span>Rs 5000</span></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 item">
            <div class="card">
              <img src="/assets/data-science.svg" alt="banking">
              <div class="card-body">
                <p>Full stack Development</p>
                <h4> Data Science and Artificial Intelligence</h4>
                <div class="price"> <span>6 months</span> <span>Rs 50000</span></div>
            </div>
              </div>
        </div>
   

    <div class="col-12 col-sm-12 col-md-4 item">
        <div class="card">
          <img src="/assets/computer-science.svg" alt="banking">
          <div class="card-body">
            <p>Full stack development</p>
            <h4> Web and Portal</h4>
            <div class="price"> <span>6 months</span> <span>Rs 50000</span></div>
        </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item">
        <div class="card">
          <img src="/assets/art-design.svg" alt="banking">
          <div class="card-body">
            <p>Web Development </p>
            <h4>Backend Specialization with Node.JS & MongoDB</h4>
            <div class="price"> <span>4 Weeks</span> <span>Rs 20000</span></div>
        </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item">
        <div class="card">
          <img src="/assets/engineering.svg" alt="banking">
          <div class="card-body">
            <p>Java Programming</p>
            <h4>Essentials Java SE Programming</h4>
            <div class="price"> <span>4 Weeks</span> <span>Rs 2500</span></div>
        </div>
        </div>
    </div>

</div>
</div>

<div class="row text-center">                
    <div class="col-12">
    <button mat-stroked-button class="own-btn blue-btn">Browse All</button>
</div>
</div>

  </div>
