<div class="inner-banner">
  <div class="container">
      <h2 class="header1">Featured Courses </h2>
      
  </div>
  
</div>

<section class="featuredpage  content">

<div *ngIf="featuredCourse" class="container">
    <!-- <app-course-component></app-course-component> -->
    <img src="/assets/fCourse/{{featuredCourse.name}}.png" alt="man" class="img-fluid">
    <p>Course Name: {{featuredCourse.name}}</p>
    <p>Description: {{featuredCourse.description}}</p>
    <p>Retail Price: {{featuredCourse.retail_price}}</p>
    <p>Selling Price: {{featuredCourse.selling_price}}</p>
    <p>Discount: {{featuredCourse.discount}}</p>    
    <p *ngIf="featuredCourse.modules != null"><strong>Modules</strong></p>   
    <div *ngIf="featuredCourse.modules">
      <div *ngFor="let mod of featuredCourse.modules; let i = index">
        <p> {{i + 1}}) {{mod.name}}</p>
        <span [innerHtml]="mod.description"></span>
      </div>
    </div> 
        
    <p *ngIf="isApproved && featuredCourse.fileUrl != ''"><a style="cursor: pointer" (click)="goToLink(featuredCourse.fileUrl)">Show PDF</a></p>    
    <p *ngIf="isApproved && featuredCourse.videoUrl != ''"><a style="cursor: pointer" (click)="goToLink(featuredCourse.videoUrl)">Play Video</a></p>    
  <mat-slide-toggle [disabled]="isEnrolled" [(ngModel)]="isOnline">{{isOnline ? 'On line' : 'Off line'}}</mat-slide-toggle>
  <div>
    <button type="button" *ngIf="!isEnrolled" (click)="enrollCourse(featuredCourse)">Enroll</button>
  </div>
  <br>
  <div>
    {{statusMessage}}
  </div>
</div>
</section>