<div class="inner-banner">
  <div class="container">
      <h2 class="header1">Featured Courses </h2>
      
  </div>
  
</div>

<section class="featuredpage  content">

<div *ngIf="featuredCourse" class="container">  
  <div class="row">
    <div class="col-12 col-md-3">
      <img src="/assets/images/fCourse/{{featuredCourse.name.replace(' ', '_')}}.png" alt="{{featuredCourse.name}}" class="img-fluid">
    
    </div>
    <div class="col-12 col-md-9">
      <h2><strong>Course Name:</strong> {{featuredCourse.name}}</h2>
      <p><strong>Description:</strong> &nbsp;&nbsp;{{featuredCourse.description}} </p>       
      <p class="pricetag"><span>Duration:</span><strong>{{featuredCourse.duration}}</strong> </p>
      <p class="pricetag"><span>Price:</span><strong> {{featuredCourse.selling_price}}.00</strong> <strong class="oldprice">{{featuredCourse.retail_price}}.00</strong> </p>
      <p class="pricetag"><span>Discount:</span><strong>{{featuredCourse.discount}}</strong> </p>
    </div>
  </div>  
        
    <p *ngIf="featuredCourse.modules != null"><strong>Modules</strong></p>   
    <div *ngIf="featuredCourse.modules" class="row">
      <div *ngFor="let mod of featuredCourse.modules; let i = index" class="col-12 col-md-4">
        <strong> {{i + 1}}) {{mod.name}}</strong>
        <div [innerHtml]="mod.description"class="modualDes" ></div>
      </div>
    </div> 
        
    <p *ngIf="isApproved && featuredCourse.fileUrl != ''"><a style="cursor: pointer" (click)="goToLink(featuredCourse.fileUrl)">Show PDF</a></p>    
    <p *ngIf="isApproved && featuredCourse.videoUrl != ''"><a style="cursor: pointer" (click)="goToLink(featuredCourse.videoUrl)">Play Video</a></p>    
  
  <div class="enroll-course">
    <mat-slide-toggle [disabled]="isEnrolled" [(ngModel)]="isOnline">{{isOnline ? 'On line' : 'Off line'}}</mat-slide-toggle>
    <button class="enroll-btn" type="button" mat-raised-button color="primary" *ngIf="!isEnrolled" (click)="enrollCourse(featuredCourse)">Enroll Now</button>
  </div>
  <br>
  <div class="alert alert-info" role="alert" *ngIf="statusMessage">
    {{statusMessage}}
  </div>
</div>
</section>