<div class="top-header">
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-12 col-md-6">
        <div class="headerLeft">
        <ul class="social">
           <li><a href="#"><i title="Facebook" class="elIcon icon-facebook"></i></a></li>
           <li><a href="#"><i title="Twitter" class="elIcon icon-twitter"></i></a></li>
           <li><a href="#"><i title="instagram" class="elIcon icon-instagram"></i></a></li>
           <li><a href="#"><i title="linkedin" class="elIcon icon-linkedin"></i></a></li>
        </ul>
           <span class="v-divider"></span>
           <span class="info">
            <i title="linkedin" class="elIcon icon-email"></i>
            contact@fintechedu.com
           </span>
      </div>
    </div>
      <div class="col-12 col-sm-12 col-md-6">
        <div class="headerRight">
            <span class="search">
              <i title="search" class="elIcon icon-search"></i>What do you want to learn ?
             </span>
              <span *ngIf="!isAuthenticated" class="login">
                <i title="user" class="elIcon icon-user2"></i><a style="color:white; text-decoration: none;" routerLink='/login' routerLinkActive='active'>Login / Register</a>            
                <i title="user" class="elIcon icon-user2"></i><a style="color:white; text-decoration: none;" routerLink='/myaccount' routerLinkActive='active'>My Account</a>                
              </span>
              <span *ngIf="isAuthenticated" class="login">
                <i title="user" class="elIcon icon-user2"></i>
                <a class="logout white" (click)="logout()" >Logout</a>
              </span>
              <!-- <span class="login">/</span> -->
               <!-- <span class="login">
                <a style="color:white; text-decoration: none;" routerLink='/signup' routerLinkActive='active'>Register</a>            
               </span> -->
        </div>
      </div>
    
       </div>
  </div>

  </div>

<div class="page-top-sec">
  <app-mainmenu></app-mainmenu>
  <!-- <app-pagebanner></app-pagebanner> -->
</div>


