

.top-header {
    background-color: #1A213B;
    padding: 10px 0px;
    font-size: 14px;
            color: #fff;
        .social {
               list-style: none;
               display: flex;
               margin: 0px;
               li {
                   display: inline-block;
                   padding-right: 0.5rem;
                a {
                    color: #fff;
                    text-decoration: none;
             }
           }
        }
        .info{
            display: inline-block;
            .elIcon {
                margin-right: 5px;
            }
        }
        .headerRight {
            text-align: right;
            .search {
                margin-right: 15px;
            }
            .search, .login {
                display: inline-block;
                padding: 0px 2px;
                .elIcon {
                    padding: 10px;
                }
            }
        }
    }

    .headerLeft {
        display: flex;
    }

.v-divider {
    background-color: #fff;
    width: 1px;
    height: 20px;
    margin: 0 10px;
    display: flex;
    vertical-align: middle;
}
.ifo {
    display: flex;
}

.page-top-sec{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 17%, rgba(4,33,109,1) 100%);
}

@media (max-width: 576px) { 
    .top-header {
    .headerLeft {
        flex-direction: column;
        .social {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            li {
                display: inline-block;
                padding-right: 0.5rem;
             a {
                 color: #fff;
                 text-decoration: none;
          }
        }
      }
      .v-divider {
        height: 1px;
        width: 90%;
        margin: 2px auto;
      }
      .info {
          text-align: center;
          margin: 2px auto;
      }
    }
    .headerRight {
        text-align: center;
        .search {
            width: 100%;
            margin: 2px auto;
        }
    }
  }
    
 }





