
<!--------------- News-letter start----------------->

  <div class="container">
     <div class="row news-letter"> 

    <div class="col-6">
      <p class="para">#Newslettter</p>
      <h2 class="header1">Join our community of students</h2>
    </div>

    <div class="col-6 col align-self-center">
      <form class="subscribe">
        <input type="email" placeholder="Enter your email" >
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </div>
</div>

<!--------------- News-letter end----------------->

<!--------------- Home Footer start----------------->

<div class="home-footer">
  <div class="container">

    <div class="row">
      <div class="col-4">
      <div class="footerLogo">
        <a href="#">
          <img src="/assets/logo.png" alt="logo" >
        </a>
        <p class="footerText">At Fintechedu, we believe everyone should have the opportunity to create progress through technology and develop the skills of tomorrow. With assessments,</p>
      </div>
      </div>
   

      <div class="col-8">
        <div class="row">
      <div class="col-3">
        <h2 class="footer-title">Company</h2>
        <ul class="footer-menu-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Resource center</a></li>
          <li><a href="#">Guides</a></li>
        </ul>
      </div>

      <div class="col-3">
        <h2 class="footer-title">Categories</h2>
        <ul class="footer-menu-list">
          <li><a href="#">All Courses</a></li>
          <li><a href="#">Railways</a></li>
          <li><a href="#">Banking</a></li>
          <li><a href="#">JEE</a></li>
        </ul>
      </div>

      <div class="col-3">
        <h2 class="footer-title">Support</h2>
        <ul class="footer-menu-list">
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Content Issue</a></li>
          <li><a href="#">Register/Login Issu</a></li>
          <li><a href="#">Site feedback</a></li>
        </ul>
      </div>

      <div class="col-3">
      <h2 class="footer-title">Get in Touch</h2>
        <ul class="footer-menu-list">
          <li><a href="#">Contact Support</a></li>
          <li><a href="#">Help Center</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

    <div class="row">
      <div class="col-12">
        <div class="copyright text-center">
        <p>Copyright © 2021 DSW. All Right Reserved.</p>
      </div>
    </div>
    </div>

  </div>
</div>

<!--------------- Home Footer end----------------->