
<!--------------- News-letter start----------------->

  <div *ngIf="fromRoute == 'Home'" class="container">
     <div class="row news-letter"> 
        <div class="col-12 col-sm-12 col-md-6">
          <p class="para">#Newslettter</p>
          <h2 class="header1">Join our community of students</h2>
        </div>

        <div class="col-12 col-sm-12 col-md-6 align-self-center">
          <form class="subscribe">
            <input type="email" placeholder="Enter your email" >            
            <a href="/#/contactus" routerLinkActive="true">Subscribe</a>

          </form>
        </div>
     </div>
 </div>

<!--------------- News-letter end----------------->

<!--------------- Home Footer start----------------->

<div class="home-footer" [ngClass]="getClass(fromRoute)">
  <div class="container">

    <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
      <div class="footerLogo">
        <a href="#">
          <img src="/assets/logo.png" alt="logo" >
        </a>
        <p class="footerText">At Fintechedu, we believe everyone should have the opportunity to create progress through technology and develop the skills of tomorrow. With assessments, learning paths and courses authored by industry experts, we offer the best training in finance and technology. Reach out to us to know more!</p>
      </div>
      </div>
   

      <div class="col-12 col-sm-6 col-md-6">
        <div class="row">
      <div class="col-12 col-sm-6 col-md-6">
        <h2 class="footer-title">Company</h2>
        <ul class="footer-menu-list">
          <li><a href="/#/aboutus">About Us</a></li>
          <li><a href="/#/contactus" routerLinkActive="true">Contact Us</a></li>
          <li><a href="/#/terms-and-condition">Terms and conditions</a></li>
          <li><a href="/#/disclaimer">Disclaimer</a></li>
          <li><a href="/#/refund-policy">Refund policy</a></li>
          <li><a href="/#/privacy-policy">Privacy policy</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-6">
        <h2 class="footer-title">Categories</h2>
        <ul class="footer-menu-list">
          <li><a href="/#/featured-course">All Courses</a></li>
          <!-- <li><a href="/">Data Science</a></li>
          <li><a href="/">Web Development</a></li>
          <li><a href="/">Java Programming</a></li> -->
          
        </ul>
      </div>

      <!-- <div class="col-12 col-sm-6 col-md-3">
        <h2 class="footer-title">Support</h2>
        <ul class="footer-menu-list">
          <li><a href="/#/contactus" routerLinkActive="true">Contact Us</a></li>
          <li><a href="/">Content Issue</a></li>
          <li><a href="/">Register/Login Issu</a></li>
          <li><a href="/">Site feedback</a></li> -->
       <!-- </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
      <h2 class="footer-title">Get in Touch</h2>
        <ul class="footer-menu-list">
          <li><a href="/">Contact Support</a></li>
          <li><a href="/">Help Center</a></li>
        </ul>
      </div> -->

    </div>
  </div>
</div>

    <div class="row">
      <div class="col-12">
        <div class="copyright text-center">
        <p>Copyright © 2021 FintechEdu.in. All Right Reserved.</p>
      </div>
    </div>
    </div>

  </div>
</div>

<!--------------- Home Footer end----------------->