<div class="container banner">
 <div class="row">
    <div class="col-12 col-sm-6 col-md-6">
        <h2 class="header1">{{bannerText}}</h2>
        <p class="header3"><span>Fintech</span><span class="red">edu</span> 
        {{bannerDescription}}
        </p>
        <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-stroked-button class="own-btn white-btn">View courses</button>
            <button mat-stroked-button class="own-btn gray-btn">Start Free Mock</button>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <div class="home-banner-image d-none d-sm-flex">
          <img src="/assets/study-png-clipart.svg" alt="study-png-clipart" class="img-fluid">
        </div>
    </div>
    </div>
</div>


