<div class="container banner">
 <div class="row">
    <div class="col-12 col-sm-6 col-md-6 bannarIn">
        <h2 class="header1">{{bannerText}}</h2>
        <p class="header3">At <span>Fintech</span><span class="red">edu</span> 
        {{bannerDescription}}
        
        </p>
        <div fxLayout="row" fxLayoutAlign="start center">
            <a mat-stroked-button class="own-btn white-btn" href="#courses">Explore Our Courses</a>
            <!-- <a href="#mucktest" mat-stroked-button class="own-btn gray-btn">Try Free Mock Now!</a> -->
            <a routerLink='/freemock' routerLinkActive='active' mat-stroked-button class="own-btn gray-btn">Try Free Mock Now</a>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <div class="home-banner-image d-none d-sm-flex">
          <img src="/assets/study-png-clipart.svg" alt="study-png-clipart" class="img-fluid">
        </div>
    </div>
    </div>
</div>


