<div class="banner_aboutus"> 
        <img src ="../../../../assets/about-new.jpg" alt="about"/>
    
    </div>

    <section class="aboutus content">

        <div class="container">   
            <h2>FinTech<strong>Edu</strong></h2> 
            <p>A growing Fintech and Edutech Platform aimed for excellence in the field of fintech and edutech. FinTechEdu through one of its initiative stives to explore every possible opportunity in the field of Financial Literacy and Financial Education. </p>

            <p>We are a team of Senior Bankers, Academician, Journalist and Expert in Information Technology  having vast experience  in their respective fields and using their knowledge to create an ecosystem where financial inclusion, skill development, technology enablement and Employment generation can be areas where all the efforts will be done to fulfil the objective.</p>

            <p>FinTechEdu is based out of Bhopal, started its operations in 2021 and continuing doing impactful  work in the field of financial inclusion in sync with the RBIs vision and working towards digital transformation and technology training areas. </p>
    


            <div class="row about-more">
                <div class="col-4">
                    <div class="about-more-content">
                        <h3>OUR MISSION <span class="icon-mission"></span></h3>
                    <p>Building on our technologies and competencies creating value for our customers. We ll achieve this by focusing on the intersection of our client s emerging needs and the acceleration of business and technological change</p>
                    </div>
                    
                </div>
                <div class="col-4">
                    <div class="about-more-content">
                    <h3>OUR VALUES <span class="icon-values"></span></h3>
                    <p>Building on our technologies and competencies creating value for our customers. We ll achieve this by focusing on the intersection of our client s emerging needs and the acceleration of business and technological change</p>
                </div>
                </div>
                <div class="col-4">
                    <div class="about-more-content">
                    <h3>OUR APPROACH & CULTURE<span class="icon-education"></span></h3>
                    <p>Building on our technologies and competencies creating value for our customers. We ll achieve this by focusing on the intersection of our client s emerging needs and the acceleration of business and technological change</p>
                </div>
                </div>
            </div>
            <div class="team">
                <div class="headertag">
            <h2>OUR PEOPLE</h2>
            <strong>GREAT PRODUCT STARTS WITH A GREAT TEAM<br/>
                Fintechedu Solution s leadership team has a long history of success 
                in technology, business trainging, and franchising</strong>
            </div>
            <div class="team">
                <div class="row">
                    <div class="col-3">
                        <div class="team-List">
                            <img src="../../../../assets/people.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Member Name</strong>
                                <span>Position</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="team-List">
                            <img src="../../../../assets/people.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Member Name</strong>
                                <span>Position</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="team-List">
                            <img src="../../../../assets/people.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Member Name</strong>
                                <span>Position</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="team-List">
                            <img src="../../../../assets/people.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Member Name</strong>
                                <span>Position</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
               
            </div>
            </div>
        </div>
    
    </section>   