<div class="banner_aboutus"> 
        <img src ="../../../../assets/aboutusNEW.jpg" alt="about"/>
    
    </div>

    <section class="aboutus content">

        <div class="container">   
            <h2>FinTech<strong>Edu</strong></h2> 
            <p>A growing Fintech and Edutech Platform aimed for excellence in the field of fintech and edutech. FinTechEdu through one of its initiative stives to explore every possible opportunity in the field of Financial Literacy and Financial Education. </p>

            <p>We are a team of Senior Bankers, Academician, Journalist and Expert in Information Technology  having vast experience  in their respective fields and using their knowledge to create an ecosystem where financial inclusion, skill development, technology enablement and Employment generation can be areas where all the efforts will be done to fulfil the objective.</p>

            <p>FinTechEdu is based out of Bhopal, started its operations in 2021 and continuing doing impactful  work in the field of financial inclusion in sync with the RBIs vision and working towards digital transformation and technology training areas. </p>
    


            <div class="row about-more">
                <div class="col-12 col-md-4 mb-2">
                    <div class="about-more-content">
                        <h3>OUR MISSION <span class="icon-mission"></span></h3>
                    <p>To make finance and technology education an integral part of learning, that is affordable, accessible and flexible for anyone irrespective of their background. 
                        </p>
                    </div>
                    
                </div>
                <div class="col-12 col-md-4 mb-2">
                    <div class="about-more-content">
                    <h3>OUR VISION <span class="icon-values"></span></h3>
                    <p>We envision the best learning experience for anyone who wants to be empowered to change their life through education.</p>
                </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="about-more-content">
                    <h3>OUR VALUES<span class="icon-education"></span></h3>   
                  
                        <p>To continually pursue innovation and novelty in learning and try to achieve equality of opportunity by making sure learning is devoid of any societal barriers</p>
                       
                            
                   
                </div>
                </div>
            </div>
            <div class="team">
                <div class="headertag">
            <h2>OUR PEOPLE</h2>
            <strong>GREAT PRODUCT STARTS WITH A GREAT TEAM<br/>
                Fintechedu Solution s leadership team has a long history of success 
                in technology, business trainging, and franchising</strong>
            </div>
            <div class="team">
                <div class="row">
                    <div class="col-12 col-md-3 mb-2">
                        <div class="team-List">
                            <img src="../../../../assets/PradeepNeekhra.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Pradeep Kumar Neekhra</strong>
                                <span>Senior Banker</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-2">
                        <div class="team-List">
                            <img src="../../../../assets/DrRSSikarwar.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Dr R S Sikarwar</strong>
                                <span>Senior Academician</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-2">
                        <div class="team-List">
                            <img src="../../../../assets/SunilTripathi.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Sunil Kumar Tripathi</strong>
                                <span>Senior Journalist</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12 col-md-3 mb-2">
                        <div class="team-List">
                            <img src="../../../../assets/MadhuKhare.jpg"/>
                            <div class="teamInfo">
                                <div class="link">
                                    <a href="" class="icon-linkedin"></a>
                                </div>
                                <strong>Madhu Khare</strong>
                                <span>Professional Astrologer</span>
                            </div>
                            
                        </div>
                    </div>
                </div>
               
            </div>
            </div>
        </div>
    
    </section>   