<div class="container contactus-box">
<div class="row">
    <div class="col-12">
        <div class="header">
        <h2 class="header1">Contact us</h2>
        <p class="para">We lov feedback and we're always happy to help !</p>
    </div>
    </div>
</div>


    <div class="row">
        <div class="col-12">

            <div class="card">
             
                <div class="row">
                    <div class="col-7">
                        <div class="body">
                        <h3 class="header2">Send us a message</h3>
                        <p class="para">Send us a message and we'll respond within 24 hour.</p>
                        <hr>

                        <form >
                            <div class="row">
                                 <div class="col-md-6">
                                     <div class="form-group">
                                         <input type="text" name="txtName" class="form-control" placeholder="Your Name *" />
                                     </div>
                                     <div class="form-group">
                                         <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" />
                                     </div>                                     
                                 </div>  
                                 <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" />
                                    </div>
                                </div>                              
                           
                             </div>

                           <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                                </div>
                            </div>
                           </div>

                           <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Send Message" />
                                </div>
                            </div>
                            </div>

                         </form>

                    </div>

                    </div>
                    
                    <div class="col-5 devider">
                        <div class="body">
                        <h3 class="header2">Contact Information</h3>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>