<!------------ Tutor section start--------->
<section class="examCategory">
    <div class="inner-banner">
        <div class="container">
            <h2 class="header1">{{categoryName}} Exam</h2>
            <button type="button" (click)="openDialog()">Enroll Now</button>
        </div>
       
    </div>

    <div class="container">
        <div class="row">              
            <div class="examCategory-dash">                                                            
                <div class="examCategory-body" >
                    <button *ngFor="let data of dataSource" mat-flat-button class="examBtn" (click)="redirectExam(data)">
                        {{data.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
