<!------------ Tutor section start--------->
<section class="Bank_po">
  <form [formGroup]="questionForm" (ngSubmit)="SubmitAnswer(questionForm)">

    <div class="inner-banner">
      <div class="container">
        <div class="row width100">
          <div class="col-md-8">
            <h2 class="header2">Mock test of {{examName}}</h2>
          </div>
          <!-- <div class="col-md-4">
            <h2 class="header2">Time Left : <span class="red">01::02:37</span></h2>
          </div> -->
        </div>
        <div class="row width100">
          <div class="col-md-8">
          <!-- <div>{{categoryName}} > {{subCategoryName}} > {{examName}}</div> -->
          </div>
        </div>
      </div>
     
  </div>


    <div class="questionSubHeader">
      <div class="container">
       
        <div class="row">
          <div class="col-md-8 vl">
            <h2 class="header3"><span class="green">QUESTION {{questionIndex + 1}} of {{this.dataSource.length}}</span></h2>
          </div>
          <div class="col-md-4">
            <h2 class="header3">Question Pallet :</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="questionDash">
      <div class="container">
        <div class="row">
            <div class="question-dash col-md-8 pt-1 pb-5">
            
              <div class="question-header">
                <h2>{{questionIndex + 1}}. {{currentQuestion}}</h2>
              </div>
              <div class="question-body">
                <table>
                  <tr *ngFor="let opt of currentOption; let i = index">
                    <td>
                      <mat-checkbox [checked]="checkOption(i)" (change)="checkAnswer(i, $event)">
                        {{opt}}
                      </mat-checkbox>
                    </td>
                  </tr>
                </table>
                <!-- <p *ngFor="let opt of currentOption">
                            {{opt}}                            
                        </p> -->
                <div class="question-footer">
                  <button type="button" (click)="clearResponse()" class="questionBtn btn mr-2">Clear Response</button>
                  <button [disabled]="questionIndex == 0" (click)="Previous()" type="button" class="questionBtn btn">Previous</button> &nbsp;
                  <button [disabled]="dataSource && dataSource.length == questionIndex + 1" (click)="Next()" type="button" class="questionBtn btn">Save & Next</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div *ngIf="isSubmitted && dataSource && dataSource.length > 0 && answerArr && answerArr.length > 0">
                Total Questions: {{dataSource.length}}
                Total Attended: {{answerArr.length}}
                Total Correct Ans: {{totalCorrectAnswer}}
                Total Wrong Ans: {{totalWrongAnswer}}
                Percentage:   {{(totalCorrectAnswer / dataSource.length) * 100}}
              </div>
              <div class="timeDash">

                <div class="quesPallet">
                  <div class="question-body">

                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let num of numArr1">
                            <td class="questionIndex" [style.background-color]="n.isAttempted ? '#ABEBC6' : '#F1948A'" (click)="tdClick(n.id)" *ngFor="let n of num">{{n.id}}</td>

                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>

                  <div class="question-footer">
                    <div class="row">
                      <div class="col-6">
                        <button class="quesPalletBtn btn">Intruction</button>
                      </div>
                      <div class="col-6">
                        <button class="quesPalletBtn btn">List View</button>
                      </div>
                    </div>

                    <button type="submit" class="quesPalletBtn btn btn-block"><strong>Submit Test</strong></button>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>
  

</section>