<!------------ Tutor section start--------->
<section class="examCourse">
    <div class="inner-banner">
        <div class="container">
            <h2 class="header1">{{subCategoryName}} Exam</h2>
            <button *ngIf="btnHeaderText != ''" [disabled]="dataSource == undefined || dataSource.length == 0" type="button" class="btn btn-success enrolButton" (click)="openDialog()">{{btnHeaderText}}</button>
        </div>
       
    </div>
    <div class="container">
        <h1 class="title">List of {{subCategoryName}} Exam 2</h1>
        <div class="row">              
            <div class="examCategory-dash">                                                            
                <!-- <div class="question-header text-center">
                    <span _ngcontent-wkc-c218="" class="icon">
                        <img _ngcontent-wkc-c218="" src="/assets/man.svg" alt="man" class="img-fluid">
                    </span>
                    <h2 class="header1">Select Your {{subCategoryName}} Exam</h2>
                </div> -->
                <div class="examCategory-body" *ngFor="let data of dataSource">
                    <button mat-flat-button class="examBtn" (click)="redirectExam(data)">
                        {{data.name}}
                    </button>
                    <button *ngIf="data.btnText && data.btnText != ''" type="button" (click)="openDialogExam(data)">{{data.btnText}}</button>
                </div>
            </div>
        </div>

    </div>

</section>
