<!------------ Tutor section start--------->
<section class="examCategory">
    <div class="inner-banner">
        <div class="container">
            <h2 class="header1">{{categoryName}} Exam</h2>
            <button *ngIf="!(dataSource == undefined || dataSource.length == 0) && btnCategoryText != ''" type="button" class="btn btn-success enrolButton" (click)="openDialog()">{{btnCategoryText}}</button>
        </div>
        
    </div>

    <div class="container">
<h1 class="title">List of {{categoryName}} Exam 1</h1>
        <div class="row">
              
                <div class="examCategory-dash">                                                            
                    <div *ngFor="let data of dataSource">
                        <button mat-flat-button class="examBtn" (click)="redirectExam(data)">
                            {{data.name}}
                        </button> 
                       
                    </div>
                </div>
            </div>
        </div>
</section>
