@import './src/app/common-styles/variable';

.question-dash, .timeDash {
    padding: 10px 0px;
    .header1, .header3 {
        padding: 20px 0px;
        margin: 0px;
     }
}
.header {
    height: 95px;
    vertical-align: middle;
}
.question-header {
    padding: 30px 0;
    background-color: #f2f2f2;
    border-top: 1px solid #ddd;
    
    h2 {
        color: #00a724;
    }
}

.questionBtn {
    background-color: #44a959;
    border-radius: 0px;
    color: #fff;
    font-weight: 400;
}
.quesPalletBtn {
    background-color: #fff;
    border-radius: 0px;
    border: 1px solid #44a959;
    font-weight: 400;
    width: 100%;
}