@import './src/app/common-styles/variable';
.inner-banner{
    background-image: url(../../../../assets/innerBanner.png);
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        .header1{
            color: #fff;
            
        }
    }
   
   
}
.examCategory-dash{
    display: flex;
    flex-wrap: wrap;
}
.question-header {
    padding: 30px 0px;
    .icon {
        margin: 15px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.examCategory-body {
    margin: 0px 0px 100px 0px;
}
.titell{
    font-size: 20px;
    margin: 20px 0;
}
.examBtn {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
   // width: calc(33.33% - 30px);
    font-size: 24px;
    padding: 25px;
    margin: 30px 15px;
    display: inline-block;
}