<!------------ Tutor section start--------->
<section class="Bank_po">
  <form [formGroup]="questionForm" (ngSubmit)="SubmitAnswer(questionForm)">

    <div class="inner-banner">
      <div class="container">
        <div class="row w-100">
          <div class="col-md-8 pageInfo">
            <h2 class="header2">Mock test of {{examName}}</h2>
          </div>
          <div class="col-md-4 time-block">
            <div *ngIf="examDuration > 0" class="timer">
              <h4> Total Time: {{examDuration}} Min </h4>
              <div class="timeDetails">
                <span id="hours"> {{hoursToDday}} </span>: 
                <span id="minutes"> {{minutesToDday}} </span>:
                <span id="seconds"> {{secondsToDday}} </span>
              </div>
             
          </div>

          </div>
         
        </div>
        <div class="row w-100">
          <div class="col-md-8 breadcrumbs">
          <div> <a style="cursor:pointer" (click)="navigateCourse()">{{categoryName}}</a>  
            > <a style="cursor:pointer" (click)="navigateSubCategory()">{{subCategoryName}}</a> > &nbsp;&nbsp;{{examName}}</div>
          </div>
        </div>
      </div>
     
  </div>


    <div class="questionSubHeader">
      <div class="container">
       
        <div class="row">
          <div *ngIf="dataSource" class="col-md-8 vl">
            <h2 class="header3"><span class="green">QUESTION {{questionIndex + 1}} of {{dataSource.length}}</span></h2>
          </div>
          <div class="col-md-4">
            <h2 class="header3">Question Pallet :</h2>
          </div>          
        </div>
      </div>
    </div>

    <div class="questionDash">
      <div class="container">
        <div class="row">
            <div class="question-dash col-md-8 pt-1 pb-5">
            
              <div class="question-header">
                <h2>{{questionIndex + 1}}. {{currentQuestion}}</h2>
              </div>
              <div class="question-body">
                <table>
                  <tr *ngFor="let opt of currentOption; let i = index">
                    <td>
                      <mat-checkbox [checked]="checkOption(i)" (change)="checkAnswer(i, $event)">
                        {{opt}}
                      </mat-checkbox>
                    </td>
                  </tr>
                </table>
                <!-- <p *ngFor="let opt of currentOption">
                            {{opt}}                            
                        </p> -->
                <div class="question-footer">
                  <button type="button" [disabled]="!isValidUser" (click)="clearResponse()" class="questionBtn btn mr-2">Clear Response</button>
                  <button [disabled]="!isValidUser || questionIndex == 0" (click)="Previous()" type="button" class="questionBtn btn">Previous</button> &nbsp;
                  <button [disabled]="!isValidUser || dataSource && dataSource.length == questionIndex + 1" (click)="Next()" type="button" class="questionBtn btn">Save & Next</button>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div *ngIf="isSubmitted && dataSource && dataSource.length > 0 && answerArr && answerArr.length > 0">
                <ul class="resultBOx">
                  <li> <span>Total Questions:</span> <strong>{{dataSource.length}}</strong></li>
                  <li><span>Total Attended:</span> <strong>{{answerArr.length}}</strong></li>
                  <li><span>Total Correct Ans:</span> <strong>{{totalCorrectAnswer}}</strong></li>
                  <li><span>Total Wrong Ans:</span> <strong>{{totalWrongAnswer}}</strong></li>
                  <li><span>Percentage: </span> <strong>{{(totalCorrectAnswer / dataSource.length) * 100}}</strong></li>
                </ul>
                <!-- Total Questions: {{dataSource.length}}
                Total Attended: {{answerArr.length}}
                Total Correct Ans: {{totalCorrectAnswer}}
                Total Wrong Ans: {{totalWrongAnswer}}
                Percentage:   {{(totalCorrectAnswer / dataSource.length) * 100}} -->
              </div>
              <div class="timeDash">

                <div class="quesPallet">
                  <div class="question-body">

                    <div *ngIf="!isSubmitted" class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let num of numArr1">
                            <td class="questionIndex" [style.background-color]="n.isAttempted ? '#ccc' : ''" (click)="tdClick(n.id)" *ngFor="let n of num">{{n.id}}</td>                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div *ngIf="isSubmitted" class="table-responsive">
                      <table class="table">
                        <tbody>
                          <tr *ngFor="let num of numArr1">
                            <td class="questionIndex" [style.background-color]="n.isCorrect ? '#34D12F' : n.isCorrect == false ? '#D14A2F' : '#D5D8DC'" (click)="tdClick(n.id)" *ngFor="let n of num">{{n.id}}</td>                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                  </div>
                  

                  <div class="question-footer">
                    <div class="row">
                      <div class="col-6">
                        <button class="quesPalletBtn btn">Intruction</button>
                      </div>
                      <div class="col-6">
                        <button class="quesPalletBtn btn">List View</button>
                      </div>
                    </div>

                    <button [disabled]="!isValidUser || isSubmitted" type="submit" class="quesPalletBtn btn btn-block"><strong>Submit Test</strong></button>
                  </div>                  
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>
</section>