<!------------ Tutor section start--------->
<section class="Bank_po">

    <div class="container">

        <div class="row">
            <div class="col-md-8">
              
                <div class="question-dash">                    
                    <h2 class="header1">Bank Po</h2>                    
                    <div class="question-header">
                       <h2>Question 01</h2>
                    </div>
                    <div class="question-body">
                        <p>A problem is given to three students whose chances of solving it are
                            1/2, 1/3 and 1/4 respectively. What is the probability that the problem
                            will be solved?</p>
                        <p>
                            A) 1/4 <br>
                            B) 1/2 <br>
                            C) 3/4 <br>
                            D) 7/12
                        </p>
                        <div class="question-footer">
                            <button class="btn">Clear Response</button>
                            <button class="btn">Save & Next</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>

</section>
