<div class="banner_aboutus"> 
    <img src ="../../../../assets/servicesNEW.jpg" alt="services"/>

</div>

<section class="aboutus content">

    <div class="container">   
        <h2>Your Trusted Source in Technology, Financial Training & Services
        </h2> 
        <p>Imagine several months passing without having to worry about an IT-related issue. No hassles over software updates or integration, no frustration around downtime and no lost sleep over a security breach. You re away from the office, feeling confident that your company s complete IT infrastructure is being fully taken care of. </p>

        <p>The long and short of it: Our Managed IT services give you the best value for the money. It proactively provides seamless technology integration, updated systems and expert technical support at all times not just when something breaks.</p>

        <h2 class="mt-4 pt-4">Our Services</h2>

        <div class="row about-more">
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Fintech Consultancy</h3>
                <p>We offer software support to financial companies and help them strategize growth and optimize performance. We enable the latest technological advancements with a wide range of products and/or services across banking, payments, investments and savings, trading, lending, insurance etc.   </p>
                <p></p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3> Financial Inclusion</h3>
               <div class="serv-cont">
                    <p>Our services in financial inclusion cater to government institutions, teachers, financial bodies (RBI, NABARD to name a few) and their employees, in both rural and urban sectors.</p>
                <button class="btn btn-primary">Know More</button>
            </div>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>EdTech Consultancy </h3>
                    <div class="serv-cont">
                <p>We contribute to educational institutes by helping their students attain skills in finance, technology and general aptitude. Collaboration with deans and academicians from some of the top educational institutions helps us make our foundation stronger.
                </p>
                <button class="btn btn-primary">Know More</button>
                </div>
                </div>
            </div>
            
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Social Impact
                    </h3>
                    <div class="serv-cont">
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
                </div>
            </div>
        </div>
        <h2>Our Training</h2>
        <div class="row about-more">
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Technology Training</h3>
                    <div class="serv-cont">
                <p>We provide expert training to engineering institutes in the latest technologies like Data Science, Machine Learning, Python, Artificial Intelligence, etc. Get updated content, hundreds of mock tests and the finest instructors by signing up today.</p>
                <button class="btn btn-primary">Know More</button>
                </div>
                </div>
                
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Internship and Placement mentorship  </h3>
                    <div class="serv-cont">
                <p>We pay attention to multidimensional development of a candidate by providing aptitude tests, group discussions, mock interviews and resume building. Mocks are designed to give students a feel of the actual exam. 
                </p>
                <button class="btn btn-primary">Know More</button>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Financial Training</h3>
                    <div class="serv-cont">
                <p>This program aims at training in certification courses like NISM, NCFM. Enroll in our courses and earn financial expertise by cracking these certifications with the help of our industry expert-curated mocks. 
                </p>
                <button class="btn btn-primary">Know More</button>
                </div>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Overseas education Training</h3>
                    <div class="serv-cont">
                <p>We help you find your ideal course in the country you’ve always dreamt of studying in.  Our mocks offer a real time examination-like experience for all sections of the exams like TOEFL, GMAT, GRE, IELTS and SAT.
                </p>
                <button class="btn btn-primary">Know More</button>
                </div>
                </div>
            </div>
            </div>
            
           
        
    </div>

</section>   