<div class="banner_aboutus"> 
    <img src ="../../../../assets/services.png" alt="about"/>

</div>

<section class="aboutus content">

    <div class="container">   
        <h2>YOUR TRUSTED SOURCE IN IT TRAINING & SUPPORT
        </h2> 
        <p>Imagine several months passing without having to worry about an IT-related issue. No hassles over software updates or integration, no frustration around downtime and no lost sleep over a security breach. You re away from the office, feeling confident that your company s complete IT infrastructure is being fully taken care of. </p>

        <p>The long and short of it: Our Managed IT services give you the best value for the money. It proactively provides seamless technology integration, updated systems and expert technical support at all times not just when something breaks.</p>

        <h2 class="mt-4 pt-4">Our Services</h2>

        <div class="row about-more">
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Fintech Consultancy</h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3> Financial Inclusion</h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>EdTech Consultancy </h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
            
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Social Impact
                    </h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
        </div>
        <h2>Our Training</h2>
        <div class="row about-more">
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Technology Training</h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
                
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Internship and Placement mentorship  </h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Financial Training</h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
            <div class="col-3">
                <div class="about-more-content">
                    <h3>Overseas education Training</h3>
                <p>Fintechedu has partnership with technology companies, training organizations and freelance trainers to facilitate training programmes organized by company whether its on...</p>
                <button class="btn btn-primary">Know More</button>
                </div>
            </div>
            </div>
            
           
        
    </div>

</section>   