<div class="divSize">
    <form [formGroup]="resetForm" (ngSubmit)="Submit(resetForm)">
        <div class="row">
          <div class="col-4">
              <input placeholder="Email" formControlName="email" style="width: 300px;" readonly [(ngModel)]="resetData.email">            
          </div> 
          <div class="col-4">            
            <input type="password" placeholder="Old Password" formControlName="oldPassword" required [(ngModel)]="resetData.oldPassword">          
      </div>
          <div class="col-4">            
                <input type="password" placeholder="New Password (min 6 char)" minlength="6" formControlName="newPassword" required [(ngModel)]="resetData.newPassword">          
          </div>
          <div class="col-4">            
                <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" required [(ngModel)]="resetData.confirmPassword">          
          </div>
          <div class="col-12">    
            <button [disabled]="!resetForm.valid" mat-raised-button color="primary" type="submit">Submit</button> &nbsp;
            <button mat-raised-button color="primary" type="button" (click)="ResetForm()">Reset</button>      
          </div>
        </div>
    </form>
    <div>
        <span *ngIf="statusMessage != ''" style="color: red;">{{statusMessage}}</span>
    </div>
</div>
