@import './src/app/common-styles/variable';
@import './custom-theme';

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
    margin: 0px;
    padding: 0px;
  }

  .container { max-width: 1280px!important; }

a {
  text-decoration: $none;
}
.mat-menu-panel{
  &.ng-trigger-transformMenu{
    min-width: 230px;
  }
}

.mat-menu-panel{
  &.ng-trigger-transformMenu{
    min-width: 230px;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
