<div class="container">
    <div class="feature-box">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 item" *ngFor="let course of courseList">
          <div class="card">
            <img src="/assets/engineering.svg" alt="banking">
            <div class="card-body">
                <p>{{course.courseName}} </p>
                <h4>{{course.description}} </h4>
                <div class="price"> <div><span>{{course.duration}}</span> : <span>{{course.price}}.00</span></div> <button mat-raised-button color="primary" type="button" (click)="EnrollCourse(course)">Request Now</button></div>
                
            </div>
        </div>
      </div>
</div>
</div>

<div class="row text-center">                
    <div class="col-12">
    <button mat-stroked-button class="own-btn blue-btn">Browse All</button>
</div>
</div>

  </div>
