<app-header></app-header>
<router-outlet></router-outlet>

<section class="tutor">
    <div class="container">
      
        <div fxLayout="row">
           
            <div fxFlex=50>
                <h2 class="sub-heading">We are Fintechedu.
                    An online & offline learning 
                    education tech.
                </h2>
                 <p class="line">At Fintechedu, we believe everyone should have the opportunity
                    to create progress through technology and develop the skills 
                    of tomorrow. With assessments, learning paths and courses
                    authored by industry experts.
                 </p>
            </div>

            <div fxFlex=50>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
              <mat-card class="tutor-box">                  
                    <span class="tutor-icon course"></span>                
                  <mat-card-content>
                      <h4>50+</h4>
                      <p>Courses</p>
                  </mat-card-content>
              </mat-card>

              <mat-card class="tutor-box">
                  <span class="tutor-icon mocktest"></span>
                <mat-card-content>
                    <h4>100+</h4>
                    <p>Mock Test</p>
                </mat-card-content>
            </mat-card>

            <mat-card class="tutor-box">
                  <span class="tutor-icon student"></span>
                <mat-card-content>
                    <h4>600+</h4>
                    <p>Students</p>
                </mat-card-content>
            </mat-card>
        </div>
            </div>

        </div>


        <div class="categories">

            <div fxLayout="column" class="tex-center">
              <p>#Top categories</p>
              <h2 class="sub-heading">Exam Categories</h2> 
            </div>         

            <div fxLayout="row wrap" fxLayoutGap="3%">

                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/banking.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>Banking</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>
                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/ssc.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>SSC</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>
                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/teaching.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>Teaching</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>
                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/gate.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>Gate</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>

                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/upsc.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>UPSC</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>

                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/defence.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>Defence</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>

                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/state-exam.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>State Exam</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>

                <div fxFlex=22>
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/aeje.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>Ae & je</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>

            </div>

            <div fxLayout="row" fxLayoutAlign="center center">                
                <button mat-stroked-button class="own-btn">Browse All</button>
            </div>

        </div>

    </div>
</section>

<section class="feature-course">
  <div class="container">

        <div fxLayout="column" class="tex-center">
           <p>#Courses</p>
           <h2 class="sub-heading">Featured Courses</h2> 
        </div>  


    <div fxLayout="row wrap" fxLayoutGap="3%">
        <div fxFlex=30.33>
            <mat-card class="feature-box">
              <img src="/assets/engineering.svg" alt="banking">
              <mat-card-content>
                  <p class="para">Engineering</p>
                  <h4 class="sub-header">Antiquities Trafficking
                    and Art Crime</h4>
              </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex=30.33>
            <mat-card class="feature-box">
              <img src="/assets/engineering.svg" alt="banking">
              <mat-card-content>
                  <p class="para">Web development</p>
                  <h4 class="sub-header">Making Music with Other People</h4>
              </mat-card-content>
          </mat-card>
        </div>

        <div fxFlex=30.33>
            <mat-card class="feature-box">
              <img src="/assets/data-science.svg" alt="banking">
              <mat-card-content>
                  <p class="para">Data Science</p>
                  <h4 class="sub-header">Inside Opera: Why Does It Matter?</h4>
              </mat-card-content>
          </mat-card>
        </div>
   

    <div fxFlex=30.33>
        <mat-card class="feature-box">
          <img src="/assets/computer-science.svg" alt="banking">
          <mat-card-content>
              <p class="para">Computer Science</p>
              <h4 class="sub-header">Using Creative Problem Solving</h4>
          </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex=30.33>
        <mat-card class="feature-box">
          <img src="/assets/art-design.svg" alt="banking">
          <mat-card-content>
              <p class="para">Architecture</p>
              <h4 class="sub-header">Understanding Luxury Fashion in a Changing</h4>
          </mat-card-content>
      </mat-card>
    </div>

    <div fxFlex=30.33>
        <mat-card class="feature-box">
          <img src="/assets/engineering.svg" alt="banking">
          <mat-card-content>
              <p class="para">Art & Desing</p>
              <h4 class="sub-header">Sustainability Understanding Luxury</h4>
          </mat-card-content>
      </mat-card>
    </div>

</div>

<div fxLayout="row" fxLayoutAlign="center center">                
    <button mat-stroked-button class="own-btn">Browse All</button>
</div>

  </div>
</section>

<app-footer></app-footer>