<!------------ Tutor section start--------->
<div class="page-top-sec">   
    <app-pagebanner >
        image=""
        titel=""
        subtitel=""
    </app-pagebanner>
  </div>
<section class="tutor">

    <div class="container">      
        <div class="row">
           
            <div class="col-12 col-sm-12 col-md-7">
                <h2 class="header2">We are <span class="logotext">Fintech<em>edu</em></span>.
                    <p>We emphasize on providing the best in Finance and Technology education to everyone in both online and offline modes</p>
                </h2>
                
            </div>

            <div class="col-12 col-sm-12 col-md-5 align-self-end">
                <div class="row tutor-box">

                <div class="col-12 col-sm-12 col-md-4">
                  <mat-card class="box">                 
                     <i title="course" class="icon-course"></i>                  
                    <mat-card-content>
                        <h4>50+</h4>
                        <p>Courses</p>
                    </mat-card-content>
                 </mat-card>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                 <mat-card class="box">  
                    <i title="courses" class="icon-courses"></i>              
                    <mat-card-content>
                      <h4>100+</h4>
                      <p>Mock Test</p>
                    </mat-card-content>
                 </mat-card>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                <mat-card class="box"> 
                  <i title="student1" class="icon-student1"></i>               
                    <mat-card-content>
                      <h4>600+</h4>
                      <p>Students</p>
                    </mat-card-content>
                </mat-card>
                </div>
              </div>
           </div>
           <!-- <p class="line para">At Fintechedu, we believe everyone should have the opportunity
            to create progress through technology and develop the skills 
            of tomorrow. With assessments, learning paths and courses
            authored by industry experts.
         </p> -->

        </div>
        <div class="row mt-5">
            <div class="col-12 col-md-3">
                <div class="inblock">
                    <h3 class="header4"> Why choose FinTechEdu?  </h3>
                    <p>FinTechEdu gives you the opportunity to plot your own learning curve and be prepared for a skilled tomorrow. </p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="inblock">
                    <h3 class="header4"> What do we offer? </h3>
                    <p>We are a combination of Finance, Technology and Education. Our training and consultancy services are designed for students and educational & financial institutions.</p>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="inblock">
                    <h3 class="header4"> How does FinTechEdu prepare you for a skilled future? </h3>
                    <p>Our courses in finance and technology are curated by academicians and industry experts. Pick a course, get extensive training, solve mocks and have fun with our detailed performance dashboard!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------ Tutor section end--------->

<!------------ Categories section start--------->
 <section class="categories">

    <div class="container">

               <div class="row text-center" id="mucktest">
                   <div class="col-12">
                    <p class="para">Mock Test Category</p>
                    <h2 class="header2">Take a look at our highest rated exam categories! </h2> 
                    <p>Exam Categories Deep dive and pick your choice of exams from the vast repository. Click on the exam of your choice below to know more.
                        </p>
               </div>
             </div> 
           
                    

            <div class="item-wrapper categories-box row">

                <!-- <div fxFlex="22" *ngFor="let item of examArray; let i = index">
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/banking.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>{{item.name}}</h4>
                          <p>{{item.description}}</p>
                      </mat-card-content>
                  </mat-card>
                </div> -->


                <div class="col-12 col-sm-12 col-md-3 item" *ngFor="let cat of dataSource">
                    <mat-card class="box" (click)="selectCategory(cat)">
                        <span class="categories-icon">
                            <img style="cursor: pointer" [src]="cat.tag_name" alt="banking" >
                        </span>
                      <mat-card-content>
                          <h4>{{cat.name}}</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                      <button mat-stroked-button class="own-btn" (click)="showAll(buttonText)">Enrol Now</button>
                  </mat-card>
                  
                </div>
            </div>

            <div class="row text-center">                
                <div class="col-12">
                <button mat-stroked-button class="own-btn" (click)="showAll(buttonText)">{{buttonText}}</button>
              </div>
            </div>

    </div>
</section>

<!------------ Categories section end--------->


<!------------ feature-course section start --------->
<section class="feature-course" id="courses">
  <div class="container">

        <div class="row text-center">
            <div class="col-12">
           <p class="para">#Courses</p>
           <h2 class="header1">Featured Courses</h2> 
        </div> 
    </div>
</div>

   <app-course-component [isFromHomePage]="isFromHomePage"></app-course-component>
</section>

<!------------ feature-course section end--------->


<!------------ testimonial section start--------->

<section class="testimonial">
  <div class="container">
    
<!------------ testimonial Top section start --------->

    <div class="testimonial-header"> 
         <div class="row">             
            <div class="col-12 col-sm-12 col-md-4">
              <p class="para">#Testimonial</p>
              <h2 class="header1">What Students Says</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="testimonial-para">
                  <p class="line para">Discover how to anticipate and adapt to the latest 
                  trends and digital</p>
                </div>
            </div>
        </div>
    </div>

    <!------------ testimonial Top section end --------->

    <!------------ testimonial bottom section start--------->
    
    <div class="testimonial-comments">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-4">
            <div class="testimonial-sec">
               <p>Fintechedu is a one stop shop for our training needs. I have gone through its Python training and found it very useful for my career</p>
                <div class="testimonial-man">
                    <span class="icon">
                        <img src="/assets/man.svg" alt="man" class="img-fluid">
                    </span>
                    <span class="comment">
                      <h2>Shivam Gohar </h2>
                      <p>Research Student</p>
                    </span>
                </div>
            </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4">
            <div class="testimonial-sec">
                <p>I have learnt Basics of Stock Market and have started investing in stock market. Willing to participate in next level courses run by Fintechedu</p>
                 <div class="testimonial-man">
                     <span class="icon">
                        <img src="/assets/man.svg" alt="man" class="img-fluid">
                     </span>
                     <span class="comment">
                       <h2>Abhishek Khare</h2>
                       <p>MBA Student</p>
                    </span>
                 </div>
             </div>
             </div>

             <div class="col-12 col-sm-12 col-md-4">
             <div class="testimonial-sec">
                <p>Fintechedu Mock test has a good coverage. Online system to do these mock test gives you a good idea to prepare for the relevant test and you become mentally and physically prepared for real examination.</p>
                 <div class="testimonial-man">
                     <span class="icon">
                        <img src="/assets/man.svg" alt="man" class="img-fluid">
                     </span>
                     <span class="comment">
                       <h2> Satyam Tripathi</h2>
                       <p>Postgraduate Student</p>
                    </span>
                 </div>
             </div>
             </div>

        </div>
    </div>
<!------------ testimonial bottom section end--------->

<!------------ testimonial top section start--------->

    <div class="testimonial-header">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
            <p class="para">#News</p>
            <h2 class="header1">News & Events</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="testimonial-para">
                  <p class="line para">Discover how to anticipate and adapt to the latest 
                    trends and digital</p>
                </div>
            </div>
        </div>
    </div>

<!------------ testimonial top section end--------->
  </div>
</section>

<!------------ testimonial section end--------->


<!------------ testimonial section end--------->

<section class="bottom-testimonial">
    <div class="container">

        <div class="row">

         <div class="col-12 col-sm-12 col-md-8">
            <div class="row last" *ngFor="let evt of eventShortList">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="readBox card">
                        <img src="/assets/images/event/{{evt.path}}.png" class="img-fluid">
                        <div class="card-body">
                            <p>{{evt.eventDate  | date: 'dd-MMM-yyyy'}}</p>                            
                            <h4>
                                {{evt.name}} 
                            </h4>
                            <p class="para"><span [innerHtml]="evt.description"></span></p>                        
                            <a style="cursor: pointer" (click)="gotoEvent(evt)" class="readmore">
                            <span class="plusblack" (click)="gotoEvent(evt)"></span>Read more</a>
                        </div>
                    </div>
                </div>                
            </div>
         </div>

         <div class="col-12 col-sm-12 col-md-4">
             <div class="last">
                <mat-card class="time-box" *ngFor="let evt of eventList"> 
                    <div class="last" fxLayout="row" (click)="gotoEvent(evt)">
                        <div class="year">
                        <p>{{evt.eventDate  | date: 'MMM-yyyy'}}</p>
                        <h2 class="sub-header">{{evt.eventDate  | date: 'dd'}}</h2>
                        </div>
                        <div class="track">
                        <p cass="dot">{{evt.name}}</p>
                        <p cass="dot"><a [href]="evt.discount_type" target="_blank">{{evt.discount_type}}</a></p>
                        <h2 class="sub-header"><span [innerHTML]="evt.description"></span></h2>
                        </div>
                    </div>
                </mat-card>
             </div>             
        </div>
        </div>
        <div>
            <button type="button"><a routerLink="events" routerLinkActive="active">Get All</a></button>
        </div>

    </div>
</section>





<a class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled }" (click)="scrollToTop()">
    <img src="/assets/move-to-top.svg" alt="move-to-top">
</a>
