<!------------ Tutor section start--------->
<div class="page-top-sec">   
    <app-pagebanner >
        image=""
        titel=""
        subtitel=""
    </app-pagebanner>
  </div>
<section class="tutor">

    <div class="container">      
        <div class="row">
           
            <div class="col-12 col-sm-12 col-md-7">
                <h2 class="header2">We are <span class="logotext">Fintech<em>edu</em></span>.
                    <p>We emphasize on providing the best in Finance and Technology education to everyone in both online and offline modes</p>
                </h2>
                
            </div>

            <div class="col-12 col-sm-12 col-md-5 align-self-end">
                <div class="row tutor-box">

                <div class="col-12 col-sm-12 col-md-4">
                  <mat-card class="box">                 
                     <i title="course" class="icon-course"></i>                  
                    <mat-card-content>
                        <h4>50+</h4>
                        <p>Courses</p>
                    </mat-card-content>
                 </mat-card>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                 <mat-card class="box">  
                    <i title="courses" class="icon-courses"></i>              
                    <mat-card-content>
                      <h4>100+</h4>
                      <p>Mock Test</p>
                    </mat-card-content>
                 </mat-card>
                </div>
                <div class="col-12 col-sm-12 col-md-4">
                <mat-card class="box"> 
                  <i title="student1" class="icon-student1"></i>               
                    <mat-card-content>
                      <h4>600+</h4>
                      <p>Students</p>
                    </mat-card-content>
                </mat-card>
                </div>
              </div>
           </div>
           <!-- <p class="line para">At Fintechedu, we believe everyone should have the opportunity
            to create progress through technology and develop the skills 
            of tomorrow. With assessments, learning paths and courses
            authored by industry experts.
         </p> -->

        </div>
        <div class="row mt-5">
            <div class="col-3">
                <div class="inblock">
                    <h3 class="header4"> Why choose FinTechEdu?  </h3>
                    <p>FinTechEdu gives you the opportunity to plot your own learning curve and be prepared for a skilled tomorrow. </p>
                </div>
            </div>
            <div class="col-4">
                <div class="inblock">
                    <h3 class="header4"> What do we offer? </h3>
                    <p>We are a combination of Finance, Technology and Education. Our training and consultancy services are designed for students and educational & financial institutions.</p>
                </div>
            </div>
            <div class="col-5">
                <div class="inblock">
                    <h3 class="header4"> How does FinTechEdu prepare you for a skilled future? </h3>
                    <p>Our courses in finance and technology are curated by academicians and industry experts. Pick a course, get extensive training, solve mocks and have fun with our detailed performance dashboard!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!------------ Tutor section end--------->

<!------------ Categories section start--------->
 <section class="categories">

    <div class="container">

               <div class="row text-center">
                   <div class="col-12">
                    <p class="para">#Top categories</p>
                    <h2 class="header2">Take a look at our highest rated exam categories! </h2> 
                    <p>Exam Categories Deep dive and pick your choice of exams from the vast repository. Click on the exam of your choice below to know more.
                        </p>
               </div>
             </div> 
           
                    

            <div class="item-wrapper categories-box row">

                <!-- <div fxFlex="22" *ngFor="let item of examArray; let i = index">
                    <mat-card class="tutor-box categories-box">
                        <span class="categories-icon">
                            <img src="/assets/banking.svg" alt="banking">
                        </span>
                      <mat-card-content>
                          <h4>{{item.name}}</h4>
                          <p>{{item.description}}</p>
                      </mat-card-content>
                  </mat-card>
                </div> -->


                <div class="col-12 col-sm-12 col-md-3 item" *ngFor="let cat of dataSource">
                    <mat-card class="box">
                        <span class="categories-icon">
                            <img [src]="cat.tag_name" alt="banking" (click)="selectCategory(cat)">
                        </span>
                      <mat-card-content>
                          <h4>{{cat.name}}</h4>
                          <p>Mock Test</p>
                      </mat-card-content>
                  </mat-card>
                </div>
            </div>

            <div class="row text-center">                
                <div class="col-12">
                <button mat-stroked-button class="own-btn" (click)="showAll(buttonText)">{{buttonText}}</button>
              </div>
            </div>

    </div>
</section>

<!------------ Categories section end--------->


<!------------ feature-course section start --------->
<section class="feature-course">
  <div class="container">

        <div class="row text-center">
            <div class="col-12">
           <p class="para">#Courses</p>
           <h2 class="header1">Featured Courses</h2> 
        </div> 
    </div>


    <div class="feature-box">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 item">
            <div class="card">
              <img src="/assets/engineering.svg" alt="banking">
              <div class="card-body">
                  <p>Engineering</p>
                  <h4>Antiquities Trafficking
                    and Art Crime</h4>
              </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 item">
            <div class="card">
              <img src="/assets/engineering.svg" alt="banking">
              <div class="card-body">
                  <p>Web development</p>
                  <h4>Making Music with Other People</h4>
              </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-4 item">
            <div class="card">
              <img src="/assets/data-science.svg" alt="banking">
              <div class="card-body">
                  <p>Data Science</p>
                  <h4>Inside Opera: Why Does It Matter?</h4>
              </div>
              </div>
        </div>
   

    <div class="col-12 col-sm-12 col-md-4 item">
        <div class="card">
          <img src="/assets/computer-science.svg" alt="banking">
          <div class="card-body">
              <p>Computer Science</p>
              <h4>Using Creative Problem Solving</h4>
          </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item">
        <div class="card">
          <img src="/assets/art-design.svg" alt="banking">
          <div class="card-body">
              <p>Architecture</p>
              <h4>Understanding Luxury Fashion in a Changing</h4>
          </div>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4 item">
        <div class="card">
          <img src="/assets/engineering.svg" alt="banking">
          <div class="card-body">
              <p>Art & Desing</p>
              <h4>Sustainability Understanding Luxury</h4>
          </div>
        </div>
    </div>

</div>
</div>

<div class="row text-center">                
    <div class="col-12">
    <button mat-stroked-button class="own-btn blue-btn">Browse All</button>
</div>
</div>

  </div>
</section>

<!------------ feature-course section end--------->


<!------------ testimonial section start--------->

<section class="testimonial">
  <div class="container">
    
<!------------ testimonial Top section start --------->

    <div class="testimonial-header"> 
         <div class="row">             
            <div class="col-12 col-sm-12 col-md-4">
              <p class="para">#Testimonial</p>
              <h2 class="header1">What Students Says</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="testimonial-para">
                  <p class="line para">Discover how to anticipate and adapt to the latest 
                  trends and digital</p>
                </div>
            </div>
        </div>
    </div>

    <!------------ testimonial Top section end --------->

    <!------------ testimonial bottom section start--------->
    
    <div class="testimonial-comments">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-4">
            <div class="testimonial-sec">
               <p>Differe Using skills and behaviors 
                People program enabled me to 
                be a fuller me,... </p>
                <div class="testimonial-man">
                    <span class="icon">
                        <img src="/assets/man.svg" alt="man" class="img-fluid">
                    </span>
                    <span class="comment">
                      <h2>Blaise Matuidi</h2>
                      <p>Research Student</p>
                    </span>
                </div>
            </div>
            </div>

            <div class="col-12 col-sm-12 col-md-4">
            <div class="testimonial-sec">
                <p>People program enabled me to 
                    be a fuller me, using differe skills 
                    and behaviors...</p>
                 <div class="testimonial-man">
                     <span class="icon">
                        <img src="/assets/man.svg" alt="man" class="img-fluid">
                     </span>
                     <span class="comment">
                       <h2>Lucas Vazquez</h2>
                       <p>EMBA Student</p>
                    </span>
                 </div>
             </div>
             </div>

             <div class="col-12 col-sm-12 col-md-4">
             <div class="testimonial-sec">
                <p>Using differe skills and behaviors 
                    People program enabled me to 
                    be a fuller me,...</p>
                 <div class="testimonial-man">
                     <span class="icon">
                        <img src="/assets/man.svg" alt="man" class="img-fluid">
                     </span>
                     <span class="comment">
                       <h2>Mario Mandzukic</h2>
                       <p>Postgraduate Student</p>
                    </span>
                 </div>
             </div>
             </div>

        </div>
    </div>
<!------------ testimonial bottom section end--------->

<!------------ testimonial top section start--------->

    <div class="testimonial-header">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
            <p class="para">#News</p>
            <h2 class="header1">News & Events</h2>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
              <div class="testimonial-para">
                  <p class="line para">Discover how to anticipate and adapt to the latest 
                    trends and digital</p>
                </div>
            </div>
        </div>
    </div>

<!------------ testimonial top section end--------->
  </div>
</section>

<!------------ testimonial section end--------->


<!------------ testimonial section end--------->

<section class="bottom-testimonial">
    <div class="container">

        <div class="row">

         <div class="col-12 col-sm-12 col-md-8">
            <div class="row last">
                <div class="col-12 col-sm-12 col-md-6">
                <div class="readBox card">
                    <img src="/assets/engineering.svg" alt="banking" class="img-fluid">
                    <div class="card-body">
                        <h4>
                            Python and JS Course may be online
                        </h4>
                        <p class="para">
                            Creating software tailored to my 
                            games development gaming is a</p>                        
                        <a hre="#" class="readmore">
                         <span class="plusblack"></span> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6">
                <div class="readBox card">
                    <img src="/assets/engineering.svg" alt="banking" class="img-fluid">
                    <div class="card-body">
                        <h4>
                            Python and JS Course may be online
                        </h4>
                        <p class="para">
                            Creating software tailored to my 
                            games development gaming is a</p>                        
                        <a hre="#" class="readmore">
                            <span class="plusblack"></span> Read more</a>
                    </div>
                </div>
            </div>      
            </div>
         </div>

         <div class="col-12 col-sm-12 col-md-4">
             <div class="last">
                <mat-card class="time-box"> 
                    <div class="last" fxLayout="row">
                 <div class="year">
                   <p>Nov</p>
                   <h2 class="sub-header">16</h2>
                 </div>
                 <div class="track">
                   <p cass="dot">AI</p>
                   <h2 class="sub-header">Tracking the climate crisisi worldwide</h2>
                 </div>
                </div>
                </mat-card>
                <mat-card class="time-box"> 
                    <div class="last" fxLayout="row">
                 <div class="year">
                   <p>Nov</p>
                   <h2 class="sub-header">16</h2>
                 </div>
                 <div class="track">
                   <p cass="dot">Machine Learning</p>
                   <h2 class="sub-header">Transforming our in 
                    science facilities</h2>
                 </div>
                </div>
                </mat-card>
                <mat-card class="time-box"> 
                    <div class="last" fxLayout="row">
                 <div class="year">
                   <p>Nov</p>
                   <h2 class="sub-header">16</h2>
                 </div>
                 <div class="track">
                   <p cass="dot">Competetive Exam</p>
                   <h2 class="sub-header">Helping to change the 
                    world</h2>
                 </div>
                </div>
                </mat-card>
                <mat-card class="time-box"> 
                    <div class="last" fxLayout="row">
                 <div class="year">
                   <p>Nov</p>
                   <h2 class="sub-header">16</h2>
                 </div>
                 <div class="track">
                   <p cass="dot">Development</p>
                   <h2 class="sub-header">DSW Teaching 
                    JavaScript a language</h2>
                 </div>
                </div>
                </mat-card>
             </div>
             
        </div>
        </div>

    </div>
</section>





<a class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled }" (click)="scrollToTop()">
    <img src="/assets/move-to-top.svg" alt="move-to-top">
</a>
